#apptitle {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: mediumpurple;
  border-radius: 20px;
}

#navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}

h1 {
  font-family: Chalkduster , serif;
  color: aliceblue;
}

hr {
  background-color: black;
}
